<form action="/new-comment" method="POST">
    <label for="input-comment">Comment</label>
    <input type="text" id="input-comment" name="comment" placeholder="Leave a comment here!" maxlength="140">

</form>