
<form action="/choicecard/{{choicecard._id}}/new-comment" method="POST">
    <input type="text" id="input-comment" name="comment" placeholder="Leave a comment here!" maxlength="140" required>
    <button>Submit comment</button>
</form>

{{#if comment}}
<ul>
    {{#each comment}}
    <li>
        {{content}}
        <span>
            Created by {{creator.name}} | Last updated on {{dateFormat updateDate "DD-MM-YYYY"}} 
        </span>
    </li>
    {{/each}}
</ul>
{{/if}}