
<form action="" method="POST">
        <label for="input-comment"></label>
        <input type="text" id="input-comment" name="comment" placeholder="Leave a comment here!" maxlength="140">
        <button>
        Enter comment
        </button>
</form>
<div>
{{flashcard}}
{{user}}

</div>
