<div id="welcome">
    <h1 id="homeTitle">{{title}}</h1>
<p id="homeSubtitle">Welcome to {{title}}</p>
</div>

<div id="homeButtons">
<button><a href="/randomflashcard">Random Flashcard</a></button>
<button><a href="/browsefalshcards">Browse Flashcards</a></button>
<button><a href="/randomchoicecard">Random Choicecard</a></button>
<button><a href="/browsechoicecards">Browse Choicecards</a></button>
</div>


