<div id="welcome">
    <h1 id="homeTitle">{{title}}</h1>
   
<p id="homeSubtitle">Welcome to {{title}}</p>


<div id="homeButtons">
     <img src="/development.svg" alt="icon" height="150" width="150">

<button><a href="/randomchoicecard">Random Flashcard</a></button>
<button><a href="/browsechoicecards">Browse Flashcards</a></button>
<button><a href="/leaderboard">Leader Board</a></button>

</div>



</div>
