<h1 id="leaderHeader">Leaderboard</h1>
<div id="leaderContainer">
    <img src="/podium.svg" alt="podiumIcon" width="100">
    <div>
         {{#each leaders}}
<div id="leader">
    <h3>{{name}}</h3>
   {{#if profilePicture}}
    <img src="{{profilePicture}}" alt="leader's cool pic" width="80">
    {{/if}}
    <p>Highscore: {{highscore}}</p>
    
</div>
{{/each}}
    </div>
   
</div>
