
<div id="feedbackPage">
<h1 id="feedbackMsg">{{feedbackMsg}}</h1>
<div>
    <h4>Correct Answer Streak: {{user.correctAnswerStreak}}</h4>
    <div id="feedbackPageButtons">

        <form action="/browsenext/{{topic}}" method="POST">
        <button>Next</button>
        </form>

        <button>Remind me!</button>
    </div>

</div>

</div>
