$grey: hsl(0, 0, 90%);
$pistachio: #e4fde1;
$darkPistachio: #8acb88;
$steelTeal: #648381;
$darkGrey: #575761;
$mustardYellow: #ebc379;
$redBrown: #aa4535;
#browse {
    background-color: rgb(247, 241, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin: 1em;
        font-size: 3em;
        color: #404047;
    }
    div {
        display: flex;
        form {
            margin-left: 3em;
            select {
                background-color: whitesmoke;
            }
            button {
                background-color: #8acb88;
                color: whitesmoke;
                font-weight: 500;
            }
        }
    }
    h4 {
        color: #404047;
        font-size: 2em;
        margin-bottom: 0;
    }
    #displayFlashcards {
        display: flex;
        flex-wrap: wrap;
    }
    .btn-group {
        display: flex;
        flex-direction: row;
        .btn {
            color: #575761;
            background-color: #b8d4d3;
            margin: 0.3em;
        }
        .btn:hover {
            padding: 0.5em 1em;
            font-weight: 500;
        }
    }
}