$grey: hsl(0, 0, 90%);
$pistachio: #e4fde1;
$darkPistachio: #8acb88;
$steelTeal: #648381;
$darkGrey: #575761;
$mustardYellow: #ffbf46;
$redBrown: #aa4535;
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/flashcards.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5em;
    margin: 0;
    box-shadow: -5px 5px 5px 5px $grey;
}

#homeTitle {
    font-size: 5em;
    padding: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: antiquewhite;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1em;
}

#homeSubtitle {
    margin-bottom: 2em;
    padding: 0 0.3em;
    font-size: 2.5em;
    background-color: antiquewhite;
}

#homeButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    button {
        background-color: $pistachio;
        color: $darkGrey;
        font-weight: 600;
        letter-spacing: 2px;
        box-shadow: -2px 2px 2px 2px lightgrey;
    }
}