$grey: hsl(0, 0, 90%);
$pistachio: #e4fde1;
$darkPistachio: #8acb88;
$steelTeal: #648381;
$darkGrey: #575761;
$mustardYellow: #ebc379;
$redBrown: #aa4535;
#welcome {
    background-image: url('/flashcards2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5em;
    h1 {
        font-size: 7em;
        color: #26262b;
        text-shadow: 2px 4px black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #e4fde1;
    }
    h1:hover {
        font-size: 7.3em;
        cursor: pointer;
    }
    p {
        display: flex;
        font-size: 2.3em;
        color: $darkGrey;
    }
    img {
        margin-left: 15em;
    }
    button {
        background-color: #ebc379;
        color: #aa4535;
        font-weight: 500;
        padding: 1em;
        font-size: 1.2em;
    }
}