$grey: hsl(0, 0, 90%);
$pistachio: #e4fde1;
$darkPistachio: #8acb88;
$steelTeal: #648381;
$darkGrey: #575761;
$mustardYellow: #ebc379;
$redBrown: #aa4535;
.signup {
  background-color: rgb(247, 241, 234);
  box-shadow: -2px 2px 2px 2px lightgrey;
  padding: 2em;
  color: #404047;
  margin-top: 1em;
  display: flex;
}
